body {background:#000;overflow:hidden}
* {color:#fff;font-family:myriad;}

.bkg {position:absolute;width:100%;height:100%;left:0;top:0;}
#content {
    position:relative;z-index:3;max-width:100%;
    margin-left:auto;margin-right:auto;margin-top:8px;padding-top:32px;
    text-align:center;bborder:1px solid black;width:280px;
}
#footer {
    border-top:1px dotted #fff;font-size:12px;
    letter-spacing:1px;line-height:24px;
    width:95%;padding-top:10px;display:inline-block;
}
.center {margin-left:auto;margin-right:auto}

input[type=text],input[type=password] {
    padding-top:12px;padding-bottom:12px;margin-left:0 !important;
    background:none;border:1px solid #fff;
    margin:5px;text-indent:35px;letter-spacing:1px;width:100%;
    font-size:16px;max-width:280px;
}
input:focus{
    -webkit-box-shadow: 0px 0px 10px 0px #fff;
    -moz-box-shadow: 0px 0px 10px 0px #fff;
    box-shadow: 0px 0px 10px 0px #fff;
    border:1px solid #fff;
}

/* Form Icons */
.form-input {position:relative}
.form-input i {position:absolute;left:10px;top:20px}

.ico-pass {
    background:url(../img/ico-pass.png) left no-repeat !important;
}
.ico-user {
    background:url(../img/ico-user.png) left no-repeat !important;
}
.ico-mail {
    background:url(../img/ico-mail.png) left no-repeat !important;
}


/* Validation */
input.error {border:1px solid #000 !important;color:#000 !important}
input.error + i {color:#000 !important}
.error-container span {
    display:block;color:#000;margin:6px;font-size:12px;
    letter-spacing:1px;text-transform:uppercase;text-align:left;
    margin-top:3px;
}
.error-container span i {color:#000}
/* Loading */
#loading-bkg {
    display:none;
    position:fixed;top:0;left:0;
    width:100%;height:100%;background:#222;
    z-index:4;opacity:0.9;
}
#loading-img {
    display:none;position:absolute;
    font-size:18px;z-index:5;width:100%;
}
#loading-img div {
    display:inline-block;line-height:28px;color:#333;font-weight:bold;
    letter-spacing:1px;text-align:center;
}
#loading-img div a {
    color:#00bcd4;text-decoration:none;font-size:14px;font-weight:100;
    border-bottom:1px solid #00bcd4;padding-bottom:1px;
}
/* Effects */
.shadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}
.glow {
    -webkit-box-shadow: 0 8px 6px -6px #FFF;
    -moz-box-shadow: 0 8px 6px -6px #FFF;
    box-shadow: 0 8px 6px -6px #FFF;
}
.darkglow {
    -webkit-box-shadow: 8px 8px 6px -6px #666;
    -moz-box-shadow: 8px 8px 6px -6px #666;
    box-shadow: 0px 0px 32px 0px #bbb;
}
.round {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    behavior: url(border-radius.htc);
    border-radius: 10px;
}

/* Outline */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
input {outline: none}

/* General Forms */
.but,input[type=submit],input[type=button] {
    font-family:myriad;cursor:pointer;
    font-size:16px;border:0;padding:12px;font-weight:bold;
    letter-spacing:1px;
}
.but i {float:left}
.light {background:#fff;color:#333}
.light:hover {background:url(../img/trans.png);color:#fff !important}


/* Text */
.mb10 {margin-bottom:10px !important}
.mb15 {margin-bottom:15px !important}
.mb20 {margin-bottom:20px !important}
.mb30 {margin-bottom:30px !important}

/* Placeholder */
::-webkit-input-placeholder {
    color:#fff;
    opacity: 0.7;
}
:-moz-placeholder { /* Firefox 18- */
    color:#fff;
    opacity: 0.7;
}
::-moz-placeholder {  /* Firefox 19+ */
    color:#fff;
    opacity: 0.7;
}
:-ms-input-placeholder {  
    color:#fff;
    opacity: 0.7;
}
/* Loadings */
.cssload-wrap {
    width: 195px;
    height: 195px;
    mmargin: 97px auto;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    perspective: 3900px;
    -o-perspective: 3900px;
    -ms-perspective: 3900px;
    -webkit-perspective: 3900px;
    -moz-perspective: 3900px;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

.cssload-circle {
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    opacity: 0;
    width: 195px;
    height: 195px;
    border: 2px solid rgba(255,255,255,0.8);
    border-radius: 146px;
    position: absolute;
    top: 0;
    left: 0;
    animation: cssload-spin 19.5s ease-in-out alternate infinite;
    -o-animation: cssload-spin 19.5s ease-in-out alternate infinite;
    -ms-animation: cssload-spin 19.5s ease-in-out alternate infinite;
    -webkit-animation: cssload-spin 19.5s ease-in-out alternate infinite;
    -moz-animation: cssload-spin 19.5s ease-in-out alternate infinite;
}
.cssload-circle:nth-of-type(1) {
    animation-delay: 325ms;
    -o-animation-delay: 325ms;
    -ms-animation-delay: 325ms;
    -webkit-animation-delay: 325ms;
    -moz-animation-delay: 325ms;
}
.cssload-circle:nth-of-type(2) {
    animation-delay: 650ms;
    -o-animation-delay: 650ms;
    -ms-animation-delay: 650ms;
    -webkit-animation-delay: 650ms;
    -moz-animation-delay: 650ms;
}
.cssload-circle:nth-of-type(3) {
    animation-delay: 975ms;
    -o-animation-delay: 975ms;
    -ms-animation-delay: 975ms;
    -webkit-animation-delay: 975ms;
    -moz-animation-delay: 975ms;
}
.cssload-circle:nth-of-type(4) {
    animation-delay: 1300ms;
    -o-animation-delay: 1300ms;
    -ms-animation-delay: 1300ms;
    -webkit-animation-delay: 1300ms;
    -moz-animation-delay: 1300ms;
}
.cssload-circle:nth-of-type(5) {
    animation-delay: 1625ms;
    -o-animation-delay: 1625ms;
    -ms-animation-delay: 1625ms;
    -webkit-animation-delay: 1625ms;
    -moz-animation-delay: 1625ms;
}



@keyframes cssload-spin {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
        opacity: 1;
    }
    25% {
        transform: rotateY(180deg) rotateX(360deg);
    }
    50% {
        transform: rotateY(540deg) rotateX(540deg);
    }
    75% {
        transform: rotateY(720deg) rotateX(900deg);
    }
    100% {
        transform: rotateY(900deg) rotateX(1080deg);
        opacity: 1;
    }
}

@-o-keyframes cssload-spin {
    0% {
        -o-transform: rotateY(0deg) rotateX(0deg);
        opacity: 1;
    }
    25% {
        -o-transform: rotateY(180deg) rotateX(360deg);
    }
    50% {
        -o-transform: rotateY(540deg) rotateX(540deg);
    }
    75% {
        -o-transform: rotateY(720deg) rotateX(900deg);
    }
    100% {
        -o-transform: rotateY(900deg) rotateX(1080deg);
        opacity: 1;
    }
}

@-ms-keyframes cssload-spin {
    0% {
        -ms-transform: rotateY(0deg) rotateX(0deg);
        opacity: 1;
    }
    25% {
        -ms-transform: rotateY(180deg) rotateX(360deg);
    }
    50% {
        -ms-transform: rotateY(540deg) rotateX(540deg);
    }
    75% {
        -ms-transform: rotateY(720deg) rotateX(900deg);
    }
    100% {
        -ms-transform: rotateY(900deg) rotateX(1080deg);
        opacity: 1;
    }
}

@-webkit-keyframes cssload-spin {
    0% {
        -webkit-transform: rotateY(0deg) rotateX(0deg);
        opacity: 1;
    }
    25% {
        -webkit-transform: rotateY(180deg) rotateX(360deg);
    }
    50% {
        -webkit-transform: rotateY(540deg) rotateX(540deg);
    }
    75% {
        -webkit-transform: rotateY(720deg) rotateX(900deg);
    }
    100% {
        -webkit-transform: rotateY(900deg) rotateX(1080deg);
        opacity: 1;
    }
}

@-moz-keyframes cssload-spin {
    0% {
        -moz-transform: rotateY(0deg) rotateX(0deg);
        opacity: 1;
    }
    25% {
        -moz-transform: rotateY(180deg) rotateX(360deg);
    }
    50% {
        -moz-transform: rotateY(540deg) rotateX(540deg);
    }
    75% {
        -moz-transform: rotateY(720deg) rotateX(900deg);
    }
    100% {
        -moz-transform: rotateY(900deg) rotateX(1080deg);
        opacity: 1;
    }
}